<div class="table-container">
	<table class="sticky-headers">
		<thead>
			<tr class="sortable">
				<th>Enable
					<div>Enable</div>
				</th>
				<th>Privilege
					<div>Privilege</div>
				</th>
				<th>Type
					<div>Type</div>
				</th>
				<th>Description
					<div>Description</div>
				</th>
				<th>Dependencies
					<div>Dependencies</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Forecast Module</td>
				<td class="left">Module</td>
				<td class="left">User will see the Forecast module tab</td>
				<td class="left">N/A</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Analysis Module</td>
				<td class="left">Module</td>
				<td class="left">User will see the Analysis module tab</td>
				<td class="left">N/A</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Settings Module</td>
				<td class="left">Module</td>
				<td class="left">User will see the Settings module tab</td>
				<td class="left">N/A</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Admin Module</td>
				<td class="left">Module</td>
				<td class="left">User will see the Admin module tab</td>
				<td class="left">N/A</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Forecast Create</td>
				<td class="left">Functionality + property</td>
				<td class="left">User will see Create Forecast button, can select from properties for which they are assigned rights</td>
				<td class="left">Forecast module, rights to one or more property</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Forecast View</td>
				<td class="left">Functionality + property</td>
				<td class="left">Users will see all public Forecasts, once in a forecast will only see those properties for which they are assigned rights</td>
				<td class="left">Forecast module, rights to one or more property</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Forecast Edit Config</td>
				<td class="left">Functionality + property</td>
				<td class="left">User will see Configuration button within a forecast and be able to edit the config for those properties for which they are assigned rights</td>
				<td class="left">Forecast module, rights to one or more property</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Forecast View Config</td>
				<td class="left">Functionality + property</td>
				<td class="left">User will see Configuratino button within a forecast and be able to view the config for all properties for which they are assigned rights</td>
				<td class="left">Forecast module, rights to one or more property</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Forecast Finalize</td>
				<td class="left">Functionality + property</td>
				<td class="left">User will see the Finalize button to save/lock a forecast...the creator of a forecast will always be able to finalize the forecast</td>
				<td class="left">Forecast module, rights to one or more property</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Users Edit</td>
				<td class="left">Functionality</td>
				<td class="left">User will be able add/edit/delete users within the Admin->Users page</td>
				<td class="left">Admin module</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Users View</td>
				<td class="left">Functionality</td>
				<td class="left">User will be able to view users within the Admin->Users page</td>
				<td class="left">Admin module</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Settings Edit</td>
				<td class="left">Functionality</td>
				<td class="left">User will be able edit settings within the Settings Module for those properties for which they are assigned rights</td>
				<td class="left">Settings module</td>
			</tr>
			<tr>
				<td class="left">{{ios-toggle orientation="inline"}}</td>
				<td class="left">Settings View</td>
				<td class="left">Functionality</td>
				<td class="left">User will be able to view settings within the Settings Module for those properties for which they are assigned rights</td>
				<td class="left">Settings module</td>
			</tr>
		</tbody>
	</table>
</div>

