<section class="catalog">
	<div class="catalog-search">
		{{input type="search" placeholder="Search..." value=searchText}}
	</div>
	<div class="catalog-scroll {{if addingCommunity 'shorter'}}">
		<section class="table">
			<div class="table-container">
				<table class="sticky-headers">
					<thead>
						<tr>
							<th class="left clickable" {{action "sort" "code"}}>Code<div>Code</div></th>
							<th class="left clickable" {{action "sort" "name"}}>Community Name<div>Community Name</div></th>
						</tr>
					</thead>
					<tbody>
						{{#each hbsContent as |community|}}
							{{#link-to "lro.admin.communities.community" community.id tagName="tr"}}
								<td class="left">{{community.code}}</td>
								<td class="left">{{community.name}}</td>
							{{/link-to}}
						{{/each}}
					</tbody>
				</table>
			</div>
		</section>
	</div>
	<div class="catalog-add {{if addingCommunity 'taller'}}">
		{{#if addingCommunity}}
			{{input value=newCommunityName placeholder="Community name"}}
			{{input value=newCommunityCode placeholder="Community code"}}
			<div class="button-wrapper">
				<button {{action "cancelAddCommunity"}} class="width-100 white">Cancel</button>
				<button {{action "addCommunity"}} class="width-100">Save</button>
			</div>
		{{else}}
			<button {{action "initAddCommunity"}} class="width-200">Add New Community</button>
		{{/if}}
	</div>
</section>
<section class="item-content">
	{{outlet}}
</section>
