<section>
	<h3>Below Market Rent:</h3>
	<table class="style-a">
		<thead>
			<tr>
				<th colspan=3>% Below Market</th>
				<th>Bring to <br> Market Rate</th>
				<th>Min <br> Increase %</th>
				<th>Max <br> Increase %</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each belowMarketContent as |range|}}
				<tr>
					<td>
						{{#if range.first}}
							<span>{{range.from}}</span>
						{{else}}
							{{input type="number" width=80 value=range.from focus-out="saveRanges"}}
						{{/if}}
					</td>
					<td class="to"> to </td>
					<td>
						{{#if range.to}}
							{{input type="number" width=80 value=range.to focus-out="saveRanges"}}
						{{else}}
							<span>Infinity</span>
						{{/if}}
					</td>
					<td>{{input type="number" width=80 value=range.bringToMktRate focus-out="saveRanges"}}</td>
					<td>{{input type="number" width=80 value=range.minIncrease focus-out="saveRanges"}}</td>
					<td>{{input type="number" width=80 value=range.maxIncrease focus-out="saveRanges"}}</td>
					<td>
						{{#unless range.first}}
							<span {{action "deleteRange" range}}>{{fa-icon "trash-o"}}</span>
						{{/unless}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	<div class="select-deselect-all">
		<div {{action "addRange" "below"}}>Add Below Market Range</div>
	</div>
</section>
<section class="dbl-top-margin">
	<h3>At Market Rent:</h3>
	<br>
	<label for="flat-increase">Increase %</label>
	{{input type="number" id="flat-increase" value=atMarketContent.firstObject.minIncrease focus-out="saveRanges"}}
</section>
<section class="dbl-top-margin">
	<h3>Above Market Rent:</h3>
	<table class="style-a">
		<thead>
			<tr>
				<th colspan=3>% Above Market</th>
				<th>Increase %</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each aboveMarketContent as |range|}}
				<tr>
					<td>
						{{#if range.first}}
							<span>{{range.from}}</span>
						{{else}}
							{{input type="number" width=80 value=range.from focus-out="saveRanges"}}
						{{/if}}
					</td>
					<td class="to"> to </td>
					<td>
						{{#if range.to}}
							{{input type="number" width=80 value=range.to focus-out="saveRanges"}}
						{{else}}
							<span>Infinity</span>
						{{/if}}
					</td>
					<td>{{input type="number" width=80 value=range.minIncrease focus-out="saveRanges"}}</td>
					<td>
						{{#unless range.first}}
							<span {{action "deleteRange" range}}>{{fa-icon "trash-o"}}</span>
						{{/unless}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	<div class="select-deselect-all">
		<div {{action "addRange" "above"}}>Add Above Market Range</div>
	</div>
</section>
