<div class="batch">
	<section class="batch-header">
	</section>
	<section class="control-wrapper">
		<title>
			<h1>Community: {{model.community.name}}</h1>
			<p>Batch: {{model.batch.name}}, {{format-date model.batch.startDate "MMM D, YYYY"}} - {{format-date model.batch.endDate "MMM D, YYYY"}}</p>
		</title>
		<div class="button-wrapper">
			{{#unless model.batch.isCommitted}}
				<button class="transparent" {{action "deleteCommunity"}}>{{fa-icon "trash"}}</button>
				{{#link-to "lro.renewals.batches.batch.community.terms" tagName="button" class="transparent"}}Lease Terms{{/link-to}}
				{{#link-to "lro.renewals.batches.batch.community.params" tagName="button" class="transparent"}}Parameters{{/link-to}}
				<button class="with-icon transparent" {{action "closeCommunity"}}>{{fa-icon "chevron-left"}}Batch</button>
				{{#if model.allApproved}}
					<button class="with-icon red" {{action "unapproveCommunity"}}>{{fa-icon "thumbs-down"}}Unapprove All</button>
				{{else}}
					<button class="with-icon" {{action "approveCommunity"}}>{{fa-icon "thumbs-up"}}Approve All</button>
				{{/if}}
			{{else}}
				<button class="with-icon" {{action "closeCommunity"}}>{{fa-icon "chevron-left"}}Batch</button>
			{{/unless}}
		</div>
	</section>
	<section class="batch-content">
		<section class="rb-details">
			<div class="rb-detail-nav">
				<div class="tab-menu tm-4 rb-detail-tabs inline no-border {{if showDetailFilters 'filters-open'}}">
					<div {{action "toggleView" 'summary'}} class="{{if summaryView 'active'}}">Summary</div
					><div {{action "toggleView" 'unitType'}} class="{{if unitTypeView 'active'}}">Unit Type View</div
					><div {{action "toggleView" 'unit'}} class="{{if unitView 'active'}}">Unit View</div>
				</div>
				{{#if unitFiltersApplied}}
					<div class="filter-tag clickable" {{action "clearUnitFilters"}}>
						Clear unit filters
						{{fa-icon "times-circle"}}
					</div>
				{{/if}}
				{{#if unitTypeFiltersApplied}}
					<div class="filter-tag clickable" {{action "clearUnitTypeFilters"}}>
						Clear unit type filters
						{{fa-icon "times-circle"}}
					</div>
				{{/if}}
				{{#unless model.isCommitted}}
					{{#if unitView}}
						<button class="with-icon float-right std-right-margin" {{action "approveFilteredUnits"}}>{{fa-icon "thumbs-up"}}Approve Filtered Units</button>
					{{else if unitTypeView}}
						<button class="with-icon float-right std-right-margin" {{action "approveFilteredUnitTypes"}}>{{fa-icon "thumbs-up"}}Approve Filtered Unit Types</button>
					{{else}}
					{{/if}}
				{{/unless}}
			</div>
			<section class="rb-detail-content">
				<div class="filter-panel {{if showDetailFilters 'open' 'closed'}} no-mobile">
					{{#if showDetailFilters}}
						<div class="filter-header">
							{{fa-icon "sliders"}}
							Filters
							<i class="fa fa-arrow-left close" {{action "closeDetailFilterPane"}}></i>
						</div>
						<div class="filter-content">
							{{#if unitView}}
								<div class="filter">
									<div>
										<div class="label">Increase <br>({{format-percent model.minIncrease 1}} - {{format-percent model.maxIncrease 1}}):</div>
										{{input type="number" value=minIncFilter}}<span>to</span>{{input type="number" value=maxIncFilter}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">Current DTM<br>({{format-percent model.minCurrentDiscountToMarket 1}} - {{format-percent model.maxCurrentDiscountToMarket 1}}):</div>
										{{input type="number" value=minCurrentDtmFilter}}<span>to</span>{{input type="number" value=maxCurrentDtmFilter}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">New DTM<br>({{format-percent model.minNewDiscountToMarket 1}} - {{format-percent model.maxNewDiscountToMarket 1}}):</div>
										{{input type="number" value=minNewDtmFilter}}<span>to</span>{{input type="number" value=maxNewDtmFilter}}
									</div>
								</div>
								<div class="filter">
									{{input-control value=overrideUnitFilter type="toggle" label="Overrides Only" orientation="block"}}
								</div>
								<div class="filter">
									{{input-control value=unapprovedUnitFilter type="toggle" label="Unapproved Only" orientation="block"}}
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Beds</div>
										<div class="control block">
											{{select-2 value=bedsFilter content=beds placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Baths</div>
										<div class="control block">
											{{select-2 value=bathsFilter content=baths placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">LRO Unit Type</div>
										<div class="control block">
											{{select-2 value=unitTypeFilter content=unitTypes placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">PMS Unit Type</div>
										<div class="control block">
											{{select-2 value=pmsUnitTypeFilter content=pmsUnitTypes placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
							{{else if unitTypeView}}
								<div class="filter">
									<div>
										<div class="label">Avg. Increase <br>({{format-percent avgIncreaseMin 100}} - {{format-percent avgIncreaseMax 100}}):</div>
										{{input type="number" value=minAvgIncFilter}}<span>to</span>{{input type="number" value=maxAvgIncFilter}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">Avg. Current DTM<br>({{format-percent avgCurrentDtmMin 100}} - {{format-percent avgCurrentDtmMax 100}}):</div>
										{{input type="number" value=minAvgCurrentDtmFilter}}<span>to</span>{{input type="number" value=maxAvgCurrentDtmFilter}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">Avg. New DTM<br>({{format-percent avgNewDtmMin 100}} - {{format-percent avgNewDtmMax 100}}):</div>
										{{input type="number" value=minAvgNewDtmFilter}}<span>to</span>{{input type="number" value=maxAvgNewDtmFilter}}
									</div>
								</div>
								<div class="filter">
									{{input-control value=overrideUnitTypeFilter type="toggle" label="Overrides Only" orientation="block"}}
								</div>
								<div class="filter">
									{{input-control value=unapprovedUnitTypeFilter type="toggle" label="Unapproved Only" orientation="block"}}
								</div>
							{{else}}
							{{/if}}
						</div>
					{{else}}
						<div class="filter-header" {{action "openDetailFilterPane"}}>
							{{fa-icon "sliders"}}
						</div>
					{{/if}}
				</div>
				<div class="rb-detail-content-wrapper {{if showDetailFilters 'filters-open'}}">
					{{#if unitView}}
						<section class="table dbl-head-rows renewal-details">
							<div class="table-container">
								<table class="sticky-headers">
									<thead>
										<tr class="border-right">
											<th colspan=2 class="border-bottom">Unit Type
												<div>Unit Type</div>
											</th>
											<th {{action "sortUnits" "beds"}}>Beds
												<div>Beds</div>
											</th>
											<th {{action "sortUnits" "baths"}}>Baths
												<div>Baths</div>
											</th>
											<th {{action "sortUnits" "unitNumber"}}>Unit
												<div>Unit</div>
											</th>
											<th {{action "sortUnits" "resident"}}>Resident
												<div>Resident</div>
											</th>
											<th {{action "sortUnits" "renewalDate"}}>Renewal Date
												<div>Renewal Date</div>
											</th>
											<th colspan=2>Lease Term
												<div>Lease Term</div>
											</th>
											<th colspan=3>Effective Rent
												<div>Effective Rent</div>
											</th>
											<th colspan=2 {{action "sortUnits" "userIncreasePct"}}>Increase
												<div>Increase</div>
											</th>
											<th colspan=2>Discount to Market
												<div>Discount to Market</div>
											</th>
											{{#unless model.isCommitted}}
												<th></th>
											{{/unless}}
										</tr>
										<tr class="sortable">
											<th {{action "sortUnits" "pmsUnitType"}}>PMS
												<div>PMS</div>
											</th>
											<th {{action "sortUnits" "unitType"}} class="border-right">LRO
												<div>LRO</div>
											</th>
											<th>Beds<div></div></th>
											<th>Baths<div></div></th>
											<th>Unit Number<div></div></th>
											<th>Resident<div></div></th>
											<th>Renewal Date<div></div></th>
											<th class="no-mobile" {{action "sortUnits" "currentLeaseTerm"}}>Current
												<div>Current</div>
											</th>
											<th class="no-mobile" {{action "sortUnits" "recLeaseTerm"}} class="border-right">Offer
												<div>Offer</div>
											</th>
											<th class="no-mobile" {{action "sortUnits" "currentRent"}}>Current
												<div>Current</div>
											</th>
											<th {{action "sortUnits" "finalRecRent"}}>Offer
												<div>Offer</div>
											</th>
											<th class="no-mobile" {{action "sortUnits" "cmr"}} class="border-right">Market
												<div>Market</div>
											</th>
											<th {{action "sortUnits" "userIncreaseDollars"}}>Increase $<div>$</div></th>
											<th {{action "sortUnits" "userIncreasePct"}}>Increase %<div>%</div></th>
											<th {{action "sortUnits" "currentDiscountToMarket"}}>Current
												<div>Current</div>
											</th>
											<th {{action "sortUnits" "finalDiscountToMarket"}} class="border-right">Offer
												<div>Offer</div>
											</th>
											{{#unless model.isCommitted}}
												<th><div></div></th>
											{{/unless}}
										</tr>
									</thead>
									<tbody>
										{{#each hbsUnitContent as |unit|}}
											{{#link-to "lro.renewals.batches.batch.community.unit" unit.id tagName="tr"}}
												<td class="no-mobile">{{unit.pmsUnitType}}</td>
												<td class="border-right">{{unit.unitType}}</td>
												<td class="no-mobile border-right">{{format-commas unit.beds}}</td>
												<td class="no-mobile border-right">{{format-commas unit.baths}}</td>
												<td class="border-right">{{unit.unitNumber}}</td>
												<td class="no-mobile border-right">{{unit.resident}}</td>
												<td class="no-mobile border-right">{{format-date unit.renewalDate}}</td>
												<td class="no-mobile">{{format-commas unit.currentLeaseTerm}}</td>
												<td class="no-mobile border-right">{{format-commas unit.recLeaseTerm}}</td>
												<td class="number no-mobile">${{format-commas unit.currentRent}}</td>
												<td class="number {{if unit.userOverrideMode 'red'}}">${{format-commas unit.finalRecRent}}</td>
												<td class="no-mobile border-right number">${{format-commas unit.cmr}}</td>
												<td class="number {{if unit.userOverrideMode 'red'}}">${{format-commas unit.userIncreaseDollars}}</td>
												<td class="border-right number {{if unit.userOverrideMode 'red'}}">{{format-percent unit.userIncreasePct 1 1}}</td>
												<td class="number">{{format-percent unit.currentDiscountToMarket 1 1}}</td>
												<td class="border-right number">{{format-percent unit.finalDiscountToMarket 1 1}}</td>
												{{#unless model.batch.isCommitted}}
													<td>
														{{#if unit.approved}}
															<i class="fa fa-check gray" {{action "unapproveUnit" unit bubbles=false}}></i>
														{{else}}
															<i class="fa fa-thumbs-o-up" {{action "approveUnit" unit bubbles=false}}></i>
														{{/if}}
													</td>
												{{/unless}}
											{{/link-to}}
										{{/each}}
									</tbody>
								</table>
							</div>
						</section>
					{{else if unitTypeView}}
						<section class="table renewal-details">
							<div class="table-container">
								<table class="sticky-headers">
									<thead>
										<tr class="sortable border-right">
											<th {{action "sortUnitTypes" "unitType"}}>Unit Type
												<div>Unit Type</div>
											</th>
											<th {{action "sortUnitTypes" "expirationCount"}}>Expirations
												<div>Expirations</div>
											</th>
											<th {{action "sortUnitTypes" "avgRecRent"}}>Avg Offer Rent
												<div>Avg. Offer Rent</div>
											</th>
											<th {{action "sortUnitTypes" "avgIncrease"}}>Avg Increase
												<div>Avg. Increase</div>
											</th>
											<th {{action "sortUnitTypes" "avgRecLeaseTerm"}}>Avg Offer Term
												<div>Avg. Offer Term</div>
											</th>
											<th>Increase Range
												<div>Increase Range</div>
											</th>
											<th {{action "sortUnitTypes" "avgCurrentDtm"}}>Avg Current DTM
												<div>Avg. Current DTM</div>
											</th>
											<th {{action "sortUnitTypes" "avgNewDtm"}}>Avg Offer DTM
												<div>Avg. Offer DTM</div>
											</th>
											{{#unless model.batch.isCommitted}}
												<th><div></div></th>
											{{/unless}}
										</tr>
									</thead>
									<tbody>
										{{#each hbsUnitTypeContent as |ut|}}
											<tr class="border-right" {{action "filterToUnitType" ut}}>
						    					<td>{{ut.unitType}}</td>
						    					<td>{{format-commas ut.expirationCount}}</td>
						    					<td>${{format-commas ut.avgRecRent}}</td>
						    					<td>{{format-percent ut.avgIncrease}}</td>
						    					<td>{{format-commas ut.avgRecLeaseTerm}}</td>
						    					<td>{{format-percent ut.minIncrease}} - {{format-percent ut.maxIncrease}}</td>
						    					<td>{{format-percent ut.avgCurrentDtm}}</td>
						    					<td>{{format-percent ut.avgNewDtm}}</td>
						    					{{#unless model.batch.isCommitted}}
						    						<td>
							    						{{#if ut.allApproved}}
															<i class="fa fa-check gray" {{action "unapproveUnitType" ut bubbles=false}}></i>
														{{else}}
															<i class="fa fa-thumbs-o-up" {{action "approveUnitType" ut bubbles=false}}></i>
														{{/if}}
													</td>
							    				{{/unless}}
						    				</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
						</section>
					{{else}}
						<section class="rb-summary">
							<div class="col col-25">
								<div class="chart">
									{{high-charts mode=chartMode content=model.chartData chartOptions=chartOptions}}
								</div>
							</div
							><div class="col col-40">
								{{high-charts mode=chartMode content=model.detailChartData chartOptions=detailChartOptions}}
							</div
							><div class="col col-20">
								<table class="rb-metrics-table no-hover">
									<tr style="height: 80px">
										<td style="border: none;">
											<div class="rb-metric-title">Average Increase</div>
											<div class="rb-metric">{{format-percent model.avgIncrease}}</div>
										</td>
										<td style="border: none;">
											<div class="rb-metric-title">Increase Range</div>
											<div class="rb-metric">{{format-percent model.minIncrease}} - {{format-percent model.maxIncrease}}</div>
										</td>
									</tr>
									<tr style="height: 80px">
										<td style="border: none;">
											<div class="rb-metric-title">Current Avg. DTM</div>
											<div class="rb-metric">{{format-percent model.avgCurrentDiscountToMarket}}</div>
										</td>
										<td style="border: none;">
											<div class="rb-metric-title">Current DTM Range</div>
											<div class="rb-metric">{{format-percent model.minCurrentDiscountToMarket}} - {{format-percent model.maxCurrentDiscountToMarket}}</div>
										</td>
									</tr>
									<tr style="height: 80px">
										<td style="border: none;">
											<div class="rb-metric-title">New Avg. DTM</div>
											<div class="rb-metric">{{format-percent model.avgNewDiscountToMarket}}</div>
										</td>
										<td style="border: none;">
											<div class="rb-metric-title">New DTM Range</div>
											<div class="rb-metric">{{format-percent model.minNewDiscountToMarket}} - {{format-percent model.maxNewDiscountToMarket}}</div>
										</td>
									</tr>
								</table>
							</div
							><div class="col col-15">
								{{high-charts mode=chartMode content=model.donutChartData chartOptions=donutChartOptions}}
								<div class="center">
									<h2 class="std-bottom-margin">Overrides</h2>
									<h1>{{format-commas model.overrideCount}}</h1>
								</div>
							</div>
						</section>
					{{/if}}
				</div>
			</section>
		</section>
	</section>
	{{outlet}}
</div>
