<div class="new-pricing">
    <section class="control-wrapper taller">
        {{community-select communities=communities community=community linkTo="lro.pricingLeasing.community.new"}}
        <div class="filter-button" {{action "toggleFilters"}}>{{fa-icon "sliders"}}></div>

        <div class="filter-wrapper {{if showFilters 'show'}}">
            <div class="filter">
                <div class="label">Pricing Date</div>
                {{pikaday-input value=currentDate minDate=startDate maxDate=endDate placeholder="Pricing date" format=dateFormat class="calendar" firstDay=0}}
            </div>
            <div class="filter">
                <div class="label block">PMS Unit Type</div>
                <div class="control block">
                    {{select-2 content=pmsUnitTypeContent value=pmsUnitTypeFilter placeholder="All" allowClear=true multiple=false}}
                </div>
            </div>
            <div class="filter">
                <div class="label block">Unit Status</div>
                <div class="control block">
                    {{select-2 content=statusContent value=statusFilter placeholder="All" allowClear=true multiple=false}}
                </div>
            </div>
            <div class="filter">
                <div class="label">Max Price <span class="blue"><b>${{format-commas userPrice}}</b></span></div>
                {{input type="range" min=minPrice max=maxPrice step="5" value=userPrice}}
            </div>
            <div class="filter no-mobile">
                {{column-select-menu showColumns=showColumns}}
            </div>
            <button {{action "toggleFilters"}} class="width-200 apply-filters">Apply Filters</button>
        </div>
        <div class="search-wrapper float-right">
            <div class="search-control">
                {{input type="search" placeholder="Search" value=searchText}}
            </div>
        </div>
    </section>
    <section class="ut-wrapper no-mobile">
        <a {{action "clearUtFilter"}}><b>Clear Filters</b></a>
        {{#each summarizedContent as |ut|}}
            <div class="metric-box available {{if ut.active 'active'}}" {{action "filterUnitTypes" ut}}>
                <div class="title left">{{ut.unitType}}</div>
                <div class="metric {{if ut.active 'active' 'blue'}}">{{ut.count}}</div>
                <div class="label">
                    {{#if ut.oneUnit}}
                        Unit
                    {{else}}
                        Units
                    {{/if}}
                </div>
                <div class="sub-metric">
                    {{#if ut.oneUnit}}
                        ${{format-commas ut.minRent}}
                    {{else}}
                        ${{format-commas ut.minRent}} - ${{format-commas ut.maxRent}}
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </section>
    {{new-pricing-table content=filteredSearchedContent showColumns=hbsShowColumns linkTo="lro.pricingLeasing.community.new.unit"}}
   	{{outlet}}
</div>
