<div class="new-pricing">
    <section class="control-wrapper taller">
        {{community-select communities=communities community=community linkTo="lro.pricingLeasing.community.new"}}
        <div class="filter-button" {{action "toggleFilters"}}>{{fa-icon "sliders"}}></div>

        <div class="filter-wrapper {{if showFilters 'show'}}">
            <div class="filter">
                <div class="label">Pricing Date</div>
                {{!-- {{date-picker startDate=startDate endDate=endDate currentDate=currentDate viewportHeight="216" rowHeight="36"}} --}}
                {{pikaday-input value=currentDate minDate=startDate maxDate=endDate placeholder="Pricing date" format=dateFormat class="calendar" firstDay=0}}
            </div>
            <div class="filter">
                <div class="label block">PMS Unit Type</div>
                <div class="control block">
                    {{select-2 content=pmsUnitTypeContent value=pmsUnitTypeFilter placeholder="All" allowClear=true multiple=false}}
                </div>
            </div>
            <div class="filter">
                <div class="label block">Unit Status</div>
                <div class="control block">
                    {{select-2 content=statusContent value=statusFilter placeholder="All" allowClear=true multiple=false}}
                </div>
            </div>
            <div class="filter">
                <div class="label">Max Price <span class="blue"><b>${{format-commas userPrice}}</b></span></div>
                {{input type="range" min=minPrice max=maxPrice step="5" value=userPrice}}
            </div>
            <div class="filter no-mobile">
                {{column-select-menu showColumns=showColumns}}
            </div>
            <button {{action "toggleFilters"}} class="width-200 apply-filters">Apply Filters</button>
        </div>
        <div class="search-wrapper float-right">
            <div class="search-control">
                {{input type="search" placeholder="Search" value=searchText}}
            </div>
        </div>
    </section>
    <section class="ut-wrapper no-mobile">
        <a {{action "clearUtFilter"}}><b>Clear Filters</b></a>
        {{#each summarizedContent as |ut|}}
            <div class="metric-box available {{if ut.active 'active'}}" {{action "filterUnitTypes" ut}}>
                <div class="title left">{{ut.unitType}}</div>
                <div class="metric {{if ut.active 'active' 'blue'}}">{{ut.count}}</div>
                <div class="label">
                    {{#if ut.oneUnit}}
                        Unit
                    {{else}}
                        Units
                    {{/if}}
                </div>
                <div class="sub-metric">
                    {{#if ut.oneUnit}}
                        ${{format-commas ut.minRent}}
                    {{else}}
                        ${{format-commas ut.minRent}} - ${{format-commas ut.maxRent}}
                    {{/if}}
                </div>
            </div>
        {{/each}}
    </section>
    <section class="table-wrapper">
    	<section class="table">
            <div class="table-container">
                <table class="sticky-headers new-pricing-table">
        			<thead>
                  		<tr>
                    		<th>Unit<div>Unit</div></th>
                    		<th>Status<div>Status</div></th>
                    		<th>Available<div>Available</div></th>
                    		{{#if hbsShowColumns.pmsUnitType.show}}<th class="no-mobile">PMS Unit Type<div>PMS Unit Type</div></th>{{/if}}
                            <th>Term<div>Term</div></th>
                    		<th class="number">Effective Rent<div>Effective Rent</div></th>
        		            {{#if hbsShowColumns.sf.show}}<th class="no-mobile">SF<div>SF</div></th>{{/if}}
        		            {{#if hbsShowColumns.moveout.show}}<th class="no-mobile">Moveout<div>Moveout</div></th>{{/if}}
        		            {{#if hbsShowColumns.priorRent.show}}<th class="number no-mobile">Prior Rent<div>Prior Rent</div></th>{{/if}}
        		            {{#if hbsShowColumns.baseRent.show}}<th class="number no-mobile">Base Rent<div>Base Rent</div></th>{{/if}}
        		            {{#if hbsShowColumns.totalConcession.show}}<th class="number no-mobile">Total Conc.<div>Total Conc.</div></th>{{/if}}
        		            {{#if hbsShowColumns.amenityAmount.show}}<th class="number no-mobile">Amen. Amt.<div>Amen. Amt</div></th>{{/if}}
        		            {{#if hbsShowColumns.offset.show}}<th class="number no-mobile">Offset<div>Offset</div></th>{{/if}}
        		            {{#if hbsShowColumns.amenities.show}}<th class="no-mobile">Amenities<div>Amenities</div></th>{{/if}}
                  		</tr>
                	</thead>
                	<tbody>
                        {{#each groupedContent as |ut|}}
                            <tr>
                                <td colspan=99 class="grouper">{{ut.unitType}} ({{ut.unitCategory}})</td>
                            </tr>
                            {{#each ut.units as |unit|}}
                        		{{#link-to 'lro.pricingLeasing.community.new.unit' unit.id tagName='tr'}}
                        			<td>{{unit.unitNumber}}</td>
                        			<td>{{unit.status}}</td>
                        			<td>{{format-date unit.available}}</td>
                                    {{#if hbsShowColumns.pmsUnitType.show}}<td class="no-mobile">{{unit.pmsUnitType}}</td>{{/if}}
                        			<td>{{unit.leaseTerm}}</td>
                        			<td>${{format-commas unit.effectiveRent}}</td>
                                    {{#if hbsShowColumns.sf.show}}<td class="no-mobile">{{format-commas unit.sf}}</td>{{/if}}
                                    {{#if hbsShowColumns.moveout.show}}<td class="no-mobile">{{format-date unit.moveout}}</td>{{/if}}
                                    {{#if hbsShowColumns.priorRent.show}}<td class="number no-mobile">${{format-commas unit.priorRent}}</td>{{/if}}
                                    {{#if hbsShowColumns.baseRent.show}}<td class="number no-mobile">${{format-commas unit.baseRent}}</td>{{/if}}
                                    {{#if hbsShowColumns.totalConcession.show}}<td class="number no-mobile">${{format-commas unit.totalConcession}}</td>{{/if}}
                                    {{#if hbsShowColumns.amenityAmount.show}}<td class="number no-mobile">${{format-commas unit.amenityAmount}}</td>{{/if}}
                                    {{#if hbsShowColumns.offset.show}}<td class="number no-mobile">${{format-commas unit.offset}}</td>{{/if}}
                                    {{#if hbsShowColumns.amenities.show}}<td class="left no-mobile">{{unit.amenities}}</td>{{/if}}
                        		{{/link-to}}
                            {{/each}}
                        {{/each}}
                	</tbody>
              	</table>
            </div>
        </section>
    </section>
   	{{outlet}}
</div>
