<section>
	<h2>{{input type="text" placeholder="New role" value=model.roleName}}</h2>
	<button class="with-icon transparent" {{action "cancel"}}>{{fa-icon "times"}}Cancel</button>
	<button class="with-icon" {{action "save"}}>{{fa-icon "check"}}Save</button>
</section>


