<div class="batches">
	{{#if model.length}}
		<table>
			<thead>
				<tr>
					<th>Batch/Community Name</th>
					<th>Date Range</th>
					<th>Expirations</th>
					<th>Approvals</th>
					<th>Avg. Rec. Rent</th>
					<th>Avg. Increase</th>
					<th>Avg. Rec. Term</th>
					<th>Avg. Prior Rent</th>
					<th>Avg. Prior Term</th>
					<th>Last Modified</th>
				</tr>
			</thead>
			<tbody>

					{{#each model as |batch|}}
						{{#link-to "lro.renewals.batch" batch.id tagName="tr"}}
							<td>{{batch.name}}</td>
							<td>{{batch.dateRange}}</td>
							<td>{{format-commas batch.expirationCount}}</td>
							<td>{{format-commas batch.approvalCount}}</td>
							<td>${{format-commas batch.avgRecRent}}</td>
							<td>{{format-percent batch.avgIncrease}}</td>
							<td>{{format-commas batch.avgRecLeaseTerm}}</td>
							<td>${{format-commas batch.avgCurrentRent}}</td>
							<td>{{format-commas batch.avgCurrentLeaseTerm}}</td>
							<td>{{batch.modifiedDate}}<br>{{batch.modifiedBy}}</td>
						{{/link-to}}
					{{/each}}


			</tbody>
		</table>
	{{else}}
		<h2 class="center dbl-top-margin">There are no open renewal batches currently.</h2>
	{{/if}}
</div>
