<div class="detail-drawer renewal-unit-drawer">
	<div class="fixed-header">
		<div class="close" {{action "close"}}>
			{{fa-icon "times"}}
		</div>
		<div class="unit-header"><h1><b>Unit {{model.unitNumber}}</b></h1></div>
	</div>
	<div class="scroll-content">
		 {{#unless viewOnly}}
			 <div class="override-wrapper {{if isOverriding 'overriding'}}">
				{{#if isOverriding}}
					<div class="std-top-margin"><h2>Renewal Offer Override</h2></div>
					<div class="center std-bottom-margin">
						{{#radio-button value="percent" groupValue=model.userOverrideMode}}Percent{{/radio-button}}
						{{#radio-button value="dollars" groupValue=model.userOverrideMode}}Dollars{{/radio-button}}
					</div>
					<div class="std-bottom-margin">
						<button class="white with-icon" {{action "cancelOverride"}}>{{fa-icon "times"}}Cancel</button>
						<button class="white with-icon" {{action "clearOverride"}}>{{fa-icon "trash-o"}}Delete</button>
						<button class="with-icon" {{action "saveOverride"}}>{{fa-icon "check"}}Save</button>
					</div>
				{{else if model.approved}}
					<button class="with-icon width-150 red" {{action "unapprove" model}}>{{fa-icon "thumbs-down"}}Unapprove</button>
				{{else}}
					<button class="with-icon width-150" {{action "initOverride"}}>{{fa-icon "pencil"}}Override</button>
					<button class="with-icon width-150" {{action "approve" model}}>{{fa-icon "thumbs-up"}}Approve</button>
				{{/if}}
			</div>
		{{/unless}}
		<div class="data-point-wrapper">
			<div>
				<div class="label">CMR</div>
				<div class="value">${{format-commas model.cmr}}</div>
			</div>
			<div>
				<div class="label">Renewal Date</div>
				<div class="value">{{format-date model.renewalDate}}</div>
			</div>
		</div>
		<div class="data-point-wrapper">
			<div>
				<div class="label">Current CPR</div>
				<div class="value">${{format-commas model.currentRent}}</div>
			</div>
			<div>
				<div class="label">Offer CPR</div>
				{{#if model.userOverrideMode}}
					<div class="value red">${{format-commas model.finalRecRent}}</div>
					<div class="label std-top-margin">LRO Rec: ${{format-commas model.recRent}}</div>
				{{else}}
					<div class="value">${{format-commas model.recRent}}</div>
				{{/if}}
			</div>
		</div>
		<div class="data-point-wrapper">
			{{#if isOverriding}}
				<div class="{{if model.userOverridePctBoolean 'red-border'}}">
					<div class="label">Increase %</div>
					{{#if model.userOverridePctBoolean}}
						{{input type="number" value=model.userOverridePct}}
						<div class="label inline">LRO Rec: <br>{{format-percent model.lroIncreasePct}}</div>
					{{else if model.userOverrideDollarsBoolean}}
						<div class="value red">{{format-percent model.userIncreasePct}}</div>
						<div class="label std-top-margin">LRO Rec: {{format-percent model.lroIncreasePct}}</div>
					{{else}}
						<div class="value {{if userOverrideMode 'red'}}">{{format-percent model.userIncreasePct}}</div>
					{{/if}}
				</div>
				<div class="{{if model.userOverrideDollarsBoolean 'red-border'}}">
					<div class="label">Increase $</div>
					{{#if model.userOverrideDollarsBoolean}}
						{{input type="number" value=model.userOverrideDollars}}
						<div class="label inline">LRO Rec: <br>${{format-commas model.lroIncreaseDollars}}</div>
					{{else if model.userOverridePctBoolean}}
						<div class="value red">${{format-commas model.userIncreaseDollars}}</div>
						<div class="label std-top-margin">LRO Rec: ${{format-commas model.lroIncreaseDollars}}</div>
					{{else}}
						<div class="value {{if userOverrideMode 'red'}}">${{format-commas model.userIncreaseDollars}}</div>
					{{/if}}
				</div>
			{{else}}
				<div>
					<div class="label">Increase %</div>
					<div class="value {{if model.userOverridePctBoolean 'red'}}">{{format-percent model.userIncreasePct}}</div>
					{{#if model.userOverrideMode}}
						<div class="label std-top-margin">LRO Rec: {{format-percent model.lroIncreasePct}}</div>
					{{/if}}
				</div>
				<div>
					<div class="label">Increase $</div>
					<div class="value {{if model.userOverrideDollarsBoolean 'red'}}">${{format-commas model.userIncreaseDollars}}</div>
					{{#if model.userOverrideMode}}
						<div class="label std-top-margin">LRO Rec: ${{format-commas model.lroIncreaseDollars}}</div>
					{{/if}}
				</div>
			{{/if}}
		</div>
		<div class="data-point-wrapper">
			<div>
				<div class="label">Current DTM</div>
				<div class="value">{{format-percent model.currentDiscountToMarket}}</div>
			</div>
			<div>
				<div class="label">Offer DTM</div>
				{{#if model.userOverrideMode}}
					<div class="value red">{{format-percent model.finalDiscountToMarket}}</div>
					<div class="label std-top-margin">LRO Rec: {{format-percent model.newDiscountToMarket}}</div>
				{{else}}
					<div class="value">{{format-percent model.newDiscountToMarket}}</div>
				{{/if}}
			</div>
		</div>
		<div class="data-point-wrapper">
			<div>
				<div class="label">Current Term</div>
				<div class="value">{{model.currentLeaseTerm}}</div>
			</div>
			<div>
				<div class="label">Offer Term</div>
				<div class="value">{{model.recLeaseTerm}}</div>
			</div>
		</div>
		<div class="data-point-wrapper">
			<div>
				<div class="label">Unit Type</div>
				<div class="value">{{model.unitType}}</div>
			</div>
			<div>
				<div class="label">PMS Unit Type</div>
				<div class="value">{{model.pmsUnitType}}</div>
			</div>
		</div>
		<div class="data-point-wrapper">
			<div>
				<div class="label">Beds</div>
				<div class="value">{{model.beds}}</div>
			</div>
			<div>
				<div class="label">Baths</div>
				<div class="value">{{model.baths}}</div>
			</div>
		</div>
		<div class="data-point-wrapper">
			<div class="single">
				<div class="label">Resident</div>
				<div class="value">{{model.resident}}</div>
			</div>
		</div>
		<hr>
		<div class="data-point-wrapper">
			<div class="single">
				{{#if isBelow}}
					<div class="label"><h3>Applied Parameters: {{rangeType}}</h3></div>
					<table class="style-a">
						<thead>
							<tr>
								<th colspan=3>% Below Market</th>
								<th>Bring to <br> Market Rate</th>
								<th>Min <br> Increase %</th>
								<th>Max <br> Increase %</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									{{format-percent model.renewalRange.from 100 1}}
								</td>
								<td class="to"> to </td>
								<td>
									{{#if model.renewalRange.to}}
										{{format-percent model.renewalRange.to 100 1}}
									{{else}}
										Infinity
									{{/if}}
								</td>
								<td>{{format-percent model.renewalRange.bringToMktRate 100 1}}</td>
								<td>{{format-percent model.renewalRange.minIncrease 100 1}}</td>
								<td>{{format-percent model.renewalRange.maxIncrease 100 1}}</td>
							</tr>
						</tbody>
					</table>
				{{/if}}
				{{#if isAt}}
					<div class="label"><h3>Applied Parameters: {{rangeType}}</h3></div>
					<div class="value">{{format-percent model.renewalRange.minIncrease 100 1}}</div>
				{{/if}}
				{{#if isAbove}}
					<div class="label"><h3>Applied Parameters: {{rangeType}}</h3></div>
					<table class="style-a">
						<thead>
							<tr>
								<th colspan=3>% Above Market</th>
								<th>Min <br> Increase %</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									{{format-percent model.renewalRange.from 100 1}}
								</td>
								<td class="to"> to </td>
								<td>
									{{#if model.renewalRange.to}}
										{{format-percent model.renewalRange.to 100 1}}
									{{else}}
										Infinity
									{{/if}}
								</td>
								<td>{{format-percent model.renewalRange.minIncrease 100 1}}</td>
							</tr>
						</tbody>
					</table>
				{{/if}}
			</div>
		</div>
	</div>
</div>


