<section class="user-summary">
	<div class="user-info">
		<div>
			<div class="avatar">{{model.initials}}</div>
			<div class="name-title">
				<h2>
					{{model.fullName}}					
				</h2>
				<h4>
					{{model.title}}					
				</h4>
			</div>
		</div>
			<div class="form-field">
				<div>Email</div>
				<div>
					{{#if isNewUser}}
						{{input type="text" value=model.email placeholder="Email"}}
					{{else}}
						{{model.email}}
					{{/if}}
				</div>
			</div>
			{{#if isNewUser}}
				<div class="form-field">
					<div>Password</div>
					<div>
						{{input type="password" value=model.password placeholder="Password"}}
					</div>
				</div>
			{{/if}}
			<div class="form-field">
				<div>Phone</div>
				<div>
					{{model.phone}}					
				</div>
			</div>
			<div class="form-field">
				<div>Status</div>
				<div>{{model.status}}</div>
			</div>
		<div>
		</div>
	</div>
	<div class="user-groups">
		<section>
			<h3>Group -> Role Membership</h3>
			<ul>
				{{#if groupMembership.length}}
					{{#each groupMembership as |group|}}
						<li class="clickable blue">{{group.grp.grpName}} -> {{group.role.roleName}}</li>
					{{/each}}
				{{else}}
					<span>No groups</span>
				{{/if}}
			</ul>
		</section>
		<section class="dbl-top-margin">
			<h3>Property -> Role (explicit)</h3>
			<ul>
				{{#if propertyMembership.length}}
					{{#each propertyMembership as |property|}}
						<li class="clickable blue">{{property.prop.fullName}} -> {{property.role.roleName}}</li>
					{{/each}}
				{{else}}
					<span>No explicit property rights</span>
				{{/if}}
			</ul>
		</section>
	</div>
	<div class="user-controls">
		<button class="float-left transparent" {{action "delete"}}>{{fa-icon "trash-o"}}</button>
		{{#link-to "lro.emberHackathon" model.firstName tagName="button" class="float-right with-icon"}}{{fa-icon "pencil"}}Edit{{/link-to}}
		{{#link-to "lro.admin.users.people.user.assign" tagName="button" class="float-right with-icon dbl-right-margin"}}{{fa-icon "user-plus"}}Assign{{/link-to}}		
	</div>
</section>
<section class="user-rights">
	<div class="pos-abs user-rights-header">
		<h2>Property Rights</h2>
	</div>
	<section class="user-rights-content">
		{{user-prop-table model=model}}
	</section>
</section>