<div class="section-menu nav-3">
	{{fa-icon "recycle" fixedWidth=true}}
	<div class="title">Renewal <br> Manager</div>
	<div class="hamburger" {{action 'toggleSectionMenu'}}>
		{{fa-icon "bars"}}
	</div>
	<div class="menu {{if showMenu 'show'}}">
		{{#link-to 'lro.renewals.batches' tagName="div"}}
			<div {{action 'toggleSectionMenu'}}>
				Batches
			</div>
		{{/link-to}}
		{{#link-to 'lro.renewals.settings' tagName="div"}}
			<div {{action 'toggleSectionMenu'}}>
				Settings
			</div>
		{{/link-to}}
		{{#link-to 'lro.renewals.params' tagName="div"}}
			<div {{action 'toggleSectionMenu'}}>
				Parameters
			</div>
		{{/link-to}}
		{{#link-to 'lro.renewals.feedback' tagName="div"}}
			<div {{action 'toggleSectionMenu'}}>
				Feedback
			</div>
		{{/link-to}}
	</div>
</div>
<section class="module-content">
	<section class="renewal-mgmt">
		{{outlet}}
	</section>
</section>

