<div class="batch">
	<section class="batch-header">

	</section>
	<section class="control-wrapper">
		<title><h1>{{model.community.name}}</h1></title>
		<div class="button-wrapper">
			<button class="transparent" {{action "deleteCommunity"}}>{{fa-icon "trash"}}</button>
			<button class="transparent" {{action "toggleTerms"}}>Lease Terms</button>
			<button class="transparent" {{action "toggleParams"}}>Parameters</button>
			<button class="with-icon transparent" {{action "closeCommunity"}}>{{fa-icon "times"}}Close</button>
			{{#if model.allApproved}}
				<button class="with-icon red" {{action "unapproveCommunity"}}>{{fa-icon "thumbs-down"}}Unapprove All</button>
			{{else}}
				<button class="with-icon" {{action "approveCommunity"}}>{{fa-icon "thumbs-up"}}Approve All</button>
			{{/if}}
		</div>
	</section>
	<div class="overlay {{if showParams 'show' 'hide'}}">
		<div class="overlay-content">
			<header>
				<h2><b>Modify Community Parameters</b></h2>
				<div class="close" {{action "toggleParams"}}>{{fa-icon "times"}}</div>
			</header>
			<section class="scroll-content">
			</section>
			<footer>
				<button class="with-icon" {{action "toggleParams"}}>{{fa-icon "check"}}Apply</button>
				<button class="white with-icon" {{action "toggleParams"}}>{{fa-icon "times"}}Cancel</button>
			</footer>
		</div>
	</div>
	<div class="overlay {{if showTerms 'show' 'hide'}}">
		<div class="overlay-content">
			<header>
				<h2><b>Modify Lease Terms</b></h2>
				<div class="close" {{action "toggleTerms"}}>{{fa-icon "times"}}</div>
			</header>
			<section class="scroll-content">
			</section>
			<footer>
				<button class="with-icon" {{action "toggleTerms"}}>{{fa-icon "check"}}Apply</button>
				<button class="white with-icon" {{action "toggleTerms"}}>{{fa-icon "times"}}Cancel</button>
			</footer>
		</div>
	</div>
	<section class="batch-content">
		<section class="rb-summary">
			<div class="col col-25">
				<div class="chart">
					{{high-charts mode=chartMode content=model.chartData chartOptions=chartOptions}}
				</div>
			</div
			><div class="col col-40">
				{{high-charts mode=chartMode content=model.detailChartData chartOptions=detailChartOptions}}
			</div
			><div class="col col-20">
				<table class="rb-metrics-table no-hover">
					<tr style="height: 80px">
						<td style="border: none;">
							<div class="rb-metric-title">Average Increase</div>
							<div class="rb-metric">{{format-percent model.avgIncrease}}</div>
						</td>
						<td style="border: none;">
							<div class="rb-metric-title">Increase Range</div>
							<div class="rb-metric">{{format-percent model.minIncrease}} - {{format-percent model.maxIncrease}}</div>
						</td>
					</tr>
					<tr style="height: 80px">
						<td style="border: none;">
							<div class="rb-metric-title">Current Avg. DTM</div>
							<div class="rb-metric">{{format-percent model.avgCurrentDiscountToMarket}}</div>
						</td>
						<td style="border: none;">
							<div class="rb-metric-title">Current DTM Range</div>
							<div class="rb-metric">{{format-percent model.minCurrentDiscountToMarket}} - {{format-percent model.maxCurrentDiscountToMarket}}</div>
						</td>
					</tr>
					<tr style="height: 80px">
						<td style="border: none;">
							<div class="rb-metric-title">New Avg. DTM</div>
							<div class="rb-metric">{{format-percent model.avgNewDiscountToMarket}}</div>
						</td>
						<td style="border: none;">
							<div class="rb-metric-title">New DTM Range</div>
							<div class="rb-metric">{{format-percent model.minNewDiscountToMarket}} - {{format-percent model.maxNewDiscountToMarket}}</div>
						</td>
					</tr>
				</table>
			</div
			><div class="col col-15">
				{{high-charts mode=chartMode content=model.donutChartData chartOptions=donutChartOptions}}
				<div class="center">
					<h2 class="std-bottom-margin">Overrides</h2>
					<h1>{{format-commas model.overrideCount}}</h1>
				</div>
			</div>
		</section>
		<section class="rb-details">
			<div class="border-bottom">
				<div class="tab-menu tm-4 rb-detail-tabs inline no-border {{if showDetailFilters 'filters-open'}}">
					<div {{action "toggleUnitTypeView"}} class="{{if unitTypeView 'active'}}">Unit Type View</div
					><div {{action "toggleUnitView"}} class="{{if unitView 'active'}}">Unit View</div>
				</div>
				{{#if unitFiltersApplied}}
					<div class="filter-tag clickable" {{action "clearUnitFilters"}}>
						Clear unit filters
						{{fa-icon "times-circle"}}
					</div>
				{{/if}}
			</div>
			<section class="rb-detail-content">
				<div class="filter-panel {{if showDetailFilters 'open' 'closed'}} no-mobile">
					{{#if showDetailFilters}}
						<div class="filter-header">
							{{fa-icon "sliders"}}
							Filters
							<i class="fa fa-arrow-left close" {{action "closeDetailFilterPane"}}></i>
						</div>
						<div class="filter-content">
							{{#if unitView}}
								{{!-- <div class="filter">
									<div>
										<div class="label">Increase: {{format-percent increaseMin 100}} - {{format-percent increaseMax 100}}</div>
										{{range-slider start=increaseSliderStart range=increaseRange connect=true  step=0.5 slide="increaseSlide"}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">Current DTM:<br>{{format-percent currentDtmMin 100}} - {{format-percent currentDtmMax 100}}</div>
										{{range-slider start=currentDtmSliderStart range=currentDtmRange connect=true  step=0.5 slide="currentDtmSlide"}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">New DTM:<br>{{format-percent newDtmMin 100}} - {{format-percent newDtmMax 100}}</div>
										{{range-slider start=newDtmSliderStart range=newDtmRange connect=true  step=0.5 slide="newDtmSlide"}}
									</div>
								</div> --}}
								<div class="filter">
									{{input-control value=overrideUnitFilter type="toggle" label="Overrides Only" orientation="block"}}
								</div>
								<div class="filter">
									{{input-control value=unapprovedUnitFilter type="toggle" label="Unapproved Only" orientation="block"}}
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Beds</div>
										<div class="control block">
											{{select-2 value=bedsFilter content=beds placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Baths</div>
										<div class="control block">
											{{select-2 value=bathsFilter content=baths placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">LRO Unit Type</div>
										<div class="control block">
											{{select-2 value=unitTypeFilter content=unitTypes placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">PMS Unit Type</div>
										<div class="control block">
											{{select-2 value=pmsUnitTypeFilter content=pmsUnitTypes placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
							{{else}}

							{{/if}}
						</div>
					{{else}}
						<div class="filter-header" {{action "openDetailFilterPane"}}>
							{{fa-icon "sliders"}}
						</div>
					{{/if}}
				</div>
				<div class="table-wrapper  {{if showDetailFilters 'filters-open'}}">
					{{#if unitView}}
						<table>
							<thead>
								<tr>
									<th class="no-mobile">PMS Unit Type</th>
									<th>Unit Type</th>
									<th class="no-mobile">Beds</th>
									<th class="no-mobile">Baths</th>
									<th>Unit Number</th>
									<th class="no-mobile">Resident</th>
									<th class="no-mobile">Renewal Date</th>
									<th class="no-mobile">Prior Term</th>
									<th class="no-mobile">Rec Term</th>
									<th class="no-mobile">Prior CPR</th>
									<th>Rec CPR</th>
									<th>Increase %</th>
									<th class="no-mobile">CMR</th>
									<th>DTM</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{{#each filteredUnitContent as |unit|}}
									{{#link-to "lro.renewals.batch.community.unit" unit.id tagName="tr"}}
										<td class="no-mobile">{{unit.pmsUnitType}}</td>
										<td>{{unit.unitType}}</td>
										<td class="no-mobile">{{format-commas unit.beds}}</td>
										<td class="no-mobile">{{format-commas unit.baths}}</td>
										<td>{{unit.unitNumber}}</td>
										<td class="no-mobile">{{unit.resident}}</td>
										<td class="no-mobile">{{format-date unit.renewalDate}}</td>
										<td class="no-mobile">{{format-commas unit.currentLeaseTerm}}</td>
										<td class="no-mobile">{{format-commas unit.recLeaseTerm}}</td>
										<td class="no-mobile">${{format-commas unit.currentRent}}</td>
										<td class="{{if unit.userOverrideMode 'red'}}">${{format-commas unit.finalRecRent}}</td>
										<td class="{{if unit.userOverrideMode 'red'}}">{{format-percent unit.userIncreasePct 1 1}}</td>
										<td class="no-mobile">${{format-commas unit.cmr}}</td>
										<td>{{format-percent unit.currentDiscountToMarket 1 1}} / {{format-percent unit.finalDiscountToMarket 1 1}}</td>
										<td>
											{{#if unit.approved}}
												<i class="fa fa-thumbs-o-down gray" {{action "unapproveUnit" unit bubbles=false}}></i>
											{{else}}
												<i class="fa fa-thumbs-o-up" {{action "approveUnit" unit bubbles=false}}></i>
											{{/if}}
										</td>
									{{/link-to}}
								{{/each}}
							</tbody>
						</table>
					{{else}}
						<table>
							<thead>
								<tr>
									<th>Community</th>
									<th>Expirations</th>
									<th>Avg Rec Rent</th>
									<th>Avg Increase</th>
									<th>Avg Rec Term</th>
									<th>Increase Range</th>
									<th>Current Avg DTM</th>
									<th>New Avg DTM</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{{#each unitTypeContent as |ut|}}
									<tr>
				    					<td>{{ut.unitType}}</td>
				    					<td>{{format-commas ut.expirationCount}}</td>
				    					<td>${{format-commas ut.avgRecRent}}</td>
				    					<td>{{format-percent ut.avgIncrease}}</td>
				    					<td>{{format-commas ut.avgRecLeaseTerm}}</td>
				    					<td>{{format-percent ut.minIncrease}} - {{format-percent ut.maxIncrease}}</td>
				    					<td>{{format-percent ut.avgIncrease}}</td>
				    					<td>{{format-percent ut.avgIncrease}}</td>
				    					<td {{action "approveUnitType" ut}}>
											{{fa-icon "thumbs-o-up"}}
				    					</td>
				    				</tr>
								{{/each}}
							</tbody>
						</table>
					{{/if}}
				</div>
			</section>
		</section>
	</section>
	{{outlet}}
</div>
