<div class="section-menu nav-3">
	{{fa-icon "graduation-cap" fixedWidth=true}}
	<div class="title">Training &amp; Support</div>
	<div class="hamburger" {{action 'toggleSectionMenu'}}>
		{{fa-icon "bars"}}
	</div>
	<div class="menu {{if showMenu 'show'}}">

	</div>
</div>
<section class="module-content">
	{{outlet}}
</section>
