<div class="overlay">
	<div class="overlay-content w400">
		<header>
			<h2><b>Create New Renewal Batch</b></h2>
			{{#link-to "lro.renewals.batches.home.open" tagName="div" class="close"}}{{fa-icon "times"}}{{/link-to}}
		</header>
		<section class="scroll-content">
			<div class="single-column">
				{{input-control value=batchName type="text" label="Batch Name" orientation="block"}}
				<div class="input-control">
					<div class="label "> Date Range </div>
					{{select-2 content=listContent value=month placeholder="Choose month..." allowClear=true multiple=false}}
				</div>
				<div class="input-control">
					<p>or</p>
					<div class="control">
						{{pikaday-input onSelection=(action 'changeStartDate') value=startDate minDate=startDateBegin maxDate=startDateEnd placeholder="Start date" format=dateFormat class="calendar"}}
						<span>to</span>
						{{pikaday-input onSelection=(action 'changeEndDate') value=endDate minDate=endDateBegin maxDate=endDateEnd placeholder="End date" format=dateFormat class="calendar"}}
					</div>
				</div>

				{{input-control value=includeMtm type="toggle" label="Include MTM?" orientation="inline"}}
				{{input-control value=mtmOnly type="toggle" label="MTM only?" orientation="inline"}}
				<div class="input-control">
					<div class="label "> Communities </div>
					{{select-2 content=model value=selectedCommunities optionLabelPath="fullName"placeholder="Choose communities..." allowClear=true multiple=true}}
				</div>
				<div class="select-deselect-all">
					<div {{action "selectAll"}}>Select All</div>
					<div {{action "deselectAll"}}>Deselect All</div>
				</div>
			</div>
		</section>
		<footer>
			<button class="with-icon" {{action "createBatch"}}>{{fa-icon "check"}}Create Batch</button>
			{{#link-to "lro.renewals.batches.home.open" tagName="button" class="white with-icon"}}
				{{fa-icon "times"}}
				Cancel
			{{/link-to}}
		</footer>
	</div>
</div>

