<div class="batch">
	<section class="control-wrapper">
		<title>
			<h1>Renewal Batch: {{model.name}}</h1>
			<p>{{model.month}}: {{format-date model.startDate "MMM D, YYYY"}} - {{format-date model.endDate "MMM D, YYYY"}}</p>
		</title>
		<div class="button-wrapper">
			{{#unless model.isCommitted}}
				<button class="with-icon transparent" {{action "closeBatch"}}>{{fa-icon "times"}}Close</button>
				<button class="transparent" {{action "deleteBatch"}}>{{fa-icon "trash"}}</button>
				{{#link-to "lro.renewals.batches.batch.home.terms" tagName="button" class="transparent"}}Lease Terms{{/link-to}}
				{{#link-to "lro.renewals.batches.batch.home.params" tagName="button" class="transparent"}}Parameters{{/link-to}}
				{{#if model.readyForCommit}}
					<button class="with-icon" {{action "commitBatch"}}>{{fa-icon "check"}}Commit Batch</button>
				{{else}}
					<button class="with-icon" {{action "approveBatch"}}>{{fa-icon "thumbs-up"}}Approve All</button>
				{{/if}}
			{{else}}
				<button class="with-icon" {{action "closeBatch"}}>{{fa-icon "times"}}Close</button>
			{{/unless}}
		</div>
	</section>
	<section class="batch-content">
		<section class="rb-details">
			<div class="rb-detail-nav">
				<div class="tab-menu tm-4 rb-detail-tabs inline no-border {{if showDetailFilters 'filters-open'}}">
					<div {{action "toggleView" "summary"}} class="{{if summaryView 'active'}}">Summary</div
					><div {{action "toggleView" "community"}} class="{{if communityView 'active'}}">Community View</div
					><div {{action "toggleView" "unit"}} class="{{if unitView 'active'}}">Unit View</div>
				</div>
				{{#if unitFiltersApplied}}
					<div class="filter-tag clickable" {{action "clearUnitFilters"}}>
						Clear filters
						{{fa-icon "times-circle"}}
					</div>
				{{/if}}
				{{#if communityFiltersApplied}}
					<div class="filter-tag clickable" {{action "clearCommunityFilters"}}>
						Clear filters
						{{fa-icon "times-circle"}}
					</div>
				{{/if}}
				{{#unless model.isCommitted}}
					{{#if unitView}}
						<button class="with-icon float-right std-right-margin" {{action "approveFilteredUnits"}}>{{fa-icon "thumbs-up"}}Approve Filtered Units</button>
					{{else if communityView}}
						<button class="with-icon float-right std-right-margin" {{action "approveFilteredCommunities"}}>{{fa-icon "thumbs-up"}}Approve Filtered Communities</button>
					{{/if}}
				{{/unless}}
			</div>
			<section class="rb-detail-content">
				<div class="filter-panel {{if showDetailFilters 'open' 'closed'}} no-mobile">
					{{#if showDetailFilters}}
						<div class="filter-header">
							{{fa-icon "sliders"}}
							Filters
							<i class="fa fa-arrow-left close" {{action "closeDetailFilterPane"}}></i>
						</div>
						<div class="filter-content">
							{{#if unitView}}
								<div class="filter">
									<div>
										<div class="label">Increase <br>({{format-percent model.minIncrease 1}} - {{format-percent model.maxIncrease 1}}):</div>
										{{input type="number" value=minIncFilter}}<span>to</span>{{input type="number" value=maxIncFilter}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">Current DTM<br>({{format-percent model.minCurrentDiscountToMarket 1}} - {{format-percent model.maxCurrentDiscountToMarket 1}}):</div>
										{{input type="number" value=minCurrentDtmFilter}}<span>to</span>{{input type="number" value=maxCurrentDtmFilter}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">New DTM<br>({{format-percent model.minNewDiscountToMarket 1}} - {{format-percent model.maxNewDiscountToMarket 1}}):</div>
										{{input type="number" value=minNewDtmFilter}}<span>to</span>{{input type="number" value=maxNewDtmFilter}}
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Community</div>
										<div class="control block">
											{{select-2 content=model.communityNames value=communityFilter placeholder="All" allowClear=true multiple=false}}
										</div>
									</div>
								</div>
								<div class="filter">
									{{input-control value=overrideUnitFilter type="toggle" label="Overrides Only" orientation="block"}}
								</div>
								<div class="filter">
									{{input-control value=unapprovedUnitFilter type="toggle" label="Unapproved Only" orientation="block"}}
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Beds</div>
										<div class="control block">
											{{select-2 value=bedsFilter content=model.beds placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Baths</div>
										<div class="control block">
											{{select-2 value=bathsFilter content=model.baths placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">LRO Unit Type</div>
										<div class="control block">
											{{select-2 value=unitTypeFilter content=model.unitTypes placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">PMS Unit Type</div>
										<div class="control block">
											{{select-2 value=pmsUnitTypeFilter content=model.pmsUnitTypes placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
							{{else if communityView}}
								<div class="filter">
									<div>
										<div class="label">Avg. Increase <br>({{format-percent avgIncreaseMin 100}} - {{format-percent avgIncreaseMax 100}}):</div>
										{{input type="number" value=minAvgIncFilter}}<span>to</span>{{input type="number" value=maxAvgIncFilter}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">Current DTM<br>({{format-percent avgCurrentDtmMin 100}} - {{format-percent avgCurrentDtmMax 100}}):</div>
										{{input type="number" value=minAvgCurrentDtmFilter}}<span>to</span>{{input type="number" value=maxAvgCurrentDtmFilter}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">New DTM<br>({{format-percent avgNewDtmMin 100}} - {{format-percent avgNewDtmMax 100}}):</div>
										{{input type="number" value=minAvgNewDtmFilter}}<span>to</span>{{input type="number" value=maxAvgNewDtmFilter}}
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Community</div>
										<div class="control block">
											{{select-2 content=model.communityNames value=communityFilter placeholder="All" allowClear=true multiple=false}}
										</div>
									</div>
								</div>
								<div class="filter">
									{{input-control value=overrideCommunityFilter type="toggle" label="Overrides Only" orientation="block"}}
								</div>
								<div class="filter">
									{{input-control value=unapprovedCommunityFilter type="toggle" label="Unapproved Only" orientation="block"}}
								</div>
							{{else}}
								<div class="filter">
									<div class="input-control">
										<div class="label block">Striation 1</div>
										<div class="control block">
											{{input value=striation1 type="number"}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Striation 2</div>
										<div class="control block">
											{{input value=striation2 type="number"}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Striation 3</div>
										<div class="control block">
											{{input value=striation3 type="number"}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Beds</div>
										<div class="control block">
											{{select-2 value=bedsFilter content=model.beds placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Baths</div>
										<div class="control block">
											{{select-2 value=bathsFilter content=model.baths placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">LRO Unit Type</div>
										<div class="control block">
											{{select-2 value=unitTypeFilter content=model.unitTypes placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">PMS Unit Type</div>
										<div class="control block">
											{{select-2 value=pmsUnitTypeFilter content=model.pmsUnitTypes placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
							{{/if}}
						</div>
					{{else}}
						<div class="filter-header" {{action "openDetailFilterPane"}}>
							{{fa-icon "sliders"}}
						</div>
					{{/if}}
				</div>
				<div class="rb-detail-content-wrapper  {{if showDetailFilters 'filters-open'}}">
					{{#if unitView}}
						{{renewal-unit-table content=filteredUnitContent viewOnly=false showCommunity=true linkTo="lro.renewals.batches.batch.home.unit"}}
					{{else if communityView}}
						<section class="table">
							<div class="table-container">
								<table class="sticky-headers">
									<thead>
										<tr class="sortable border-right">
											<th {{action "sortCommunities" "communityCode"}}>Code
												<div>Code</div>
											</th>
											<th {{action "sortCommunities" "communityName"}}>Community Name
												<div>Community Name</div>
											</th>
											<th {{action "sortCommunities" "expirationCount"}}>Expirations
												<div>Expirations</div>
											</th>
											<th {{action "sortCommunities" "approvalCount"}}>Approvals
												<div>Approvals</div>
											</th>
											<th class="no-mobile" {{action "sortCommunities" "avgRecRent"}}>Avg Offer Rent
												<div>Avg. Offer Rent</div>
											</th>
											<th {{action "sortCommunities" "avgIncrease"}}>Avg Increase $
												<div>Avg. Increase $</div>
											</th>
											<th {{action "sortCommunities" "avgIncrease"}}>Avg Increase %
												<div>Avg. Increase %</div>
											</th>
											<th class="no-mobile" {{action "sortCommunities" "avgRecLeaseTerm"}}>Avg Offer Term
												<div>Avg. Offer Term</div>
											</th>
											<th {{action "sortCommunities" "minIncrease"}}>Min. Increase
												<div>Min. Increase</div>
											</th>
											<th{{action "sortCommunities" "maxIncrease"}}>Max. Increase
												<div>Max. Increase</div>
											</th>
											<th class="no-mobile" {{action "sortCommunities" "avgCurrentDiscountToMarket"}}>Current Avg DTM
												<div>Current Avg. DTM</div>
											</th>
											<th class="no-mobile" {{action "sortCommunities" "avgNewDiscountToMarket"}}>Offer Avg DTM
												<div>Offer Avg. DTM</div>
											</th>
											{{#unless model.isCommitted}}
												<th><div></div></th>
											{{/unless}}
										</tr>
									</thead>
									<tbody>
										{{#each hbsCommunityContent as |comm|}}
											{{#link-to "lro.renewals.batches.batch.community" comm.id tagName="tr" class="border-right"}}
												<td class="left">{{comm.communityCode}}</td>
												<td class="left">{{comm.communityName}}</td>
												<td>{{format-commas comm.expirationCount}}</td>
												<td>{{format-commas comm.approvalCount}}</td>
												<td class="no-mobile">${{format-commas comm.avgRecRent}}</td>
												<td>${{format-commas comm.avgIncreaseDollars}}</td>
												<td>{{format-percent comm.avgIncrease 1 1}}</td>
												<td class="no-mobile">{{format-commas comm.avgRecLeaseTerm}}</td>
												<td>{{format-percent comm.minIncrease 1 1}}</td>
												<td>{{format-percent comm.maxIncrease 1 1}}</td>
												<td class="no-mobile">{{format-percent comm.avgCurrentDiscountToMarket 1 1}}</td>
												<td class="no-mobile">{{format-percent comm.avgNewDiscountToMarket 1 1}}</td>
												{{#unless model.isCommitted}}
													<td>
														{{#if comm.allApproved}}
															<i class="fa fa-check gray" {{action "unapproveCommunity" comm bubbles=false}}></i>
														{{else}}
															<i class="fa fa-thumbs-o-up" {{action "approveCommunity" comm bubbles=false}}></i>
														{{/if}}
													</td>
												{{/unless}}
											{{/link-to}}
										{{/each}}
									</tbody>
								</table>
							</div>
						</section>
					{{else}}
						<section class="rb-summary">
							<div class="col col-33">
								<div class="chart">
									{{dynamic-high-charts mode=chartMode content=chartData chartOptions=chartOptions}}

								</div>
							</div
							><div class="col col-66">
								{{dynamic-high-charts mode=chartMode content=detailChartData chartOptions=detailChartOptions}}
							</div>
						</section>
						<section class="rb-summary">
							<div class="col col-60">
								<table class="rb-metrics-table no-hover">
									<tr style="height: 80px">
										<td style="border: none;">
											<div class="rb-metric-title">Average Increase</div>
											<div class="rb-metric">{{format-percent filtAvgIncrease}}</div>
										</td>
										<td style="border: none;">
											<div class="rb-metric-title">Current Avg. Discount to Market</div>
											<div class="rb-metric">{{format-percent filtAvgCurrentDtm}}</div>
										</td>
										<td style="border: none;">
											<div class="rb-metric-title">Offer Avg. Discount to Market</div>
											<div class="rb-metric">{{format-percent filtAvgNewDtm}}</div>
										</td>
									</tr>
									<tr style="height: 80px">
										<td style="border: none;">
											<div class="rb-metric-title">Increase Range</div>
											<div class="rb-metric">{{format-percent filtMinIncrease}} to {{format-percent filtMaxIncrease}}</div>
										</td>
										<td style="border: none;">
											<div class="rb-metric-title">Current Discount to Market Range</div>
											<div class="rb-metric">{{format-percent filtMinCurrentDtm}} to {{format-percent filtMaxCurrentDtm}}</div>
										</td>
										<td style="border: none;">
											<div class="rb-metric-title">Offer Discount to Market Range</div>
											<div class="rb-metric">{{format-percent filtMinNewDtm}} to {{format-percent filtMaxNewDtm}}</div>
										</td>
									</tr>
								</table>
							</div
							><div class="col col-40">
								{{high-charts mode=chartMode content=donutChartData chartOptions=donutChartOptions}}
								<div class="center">
									<h2 class="std-bottom-margin">Overrides</h2>
									<h1>{{format-commas model.overrideCount}}</h1>
								</div>
							</div>
						</section>
					{{/if}}
				</div>
			</section>
		</section>
	</section>
	{{outlet}}
</div>
