<div class="batch">
	<section class="control-wrapper">
		<title><h1>{{model.name}}</h1></title>
		<div class="button-wrapper">
			<button class="transparent" {{action "deleteBatch"}}>{{fa-icon "trash"}}</button>
			<button class="transparent" {{action "toggleTerms"}}>Lease Terms</button>
			<button class="transparent" {{action "toggleParams"}}>Parameters</button>
			<button class="with-icon transparent" {{action "closeBatch"}}>{{fa-icon "times"}}Close</button>	{{#if model.readyForCommit}}
				<button class="with-icon" {{action "commitBatch"}}>{{fa-icon "check"}}Commit Batch</button>
			{{else}}
				<button class="with-icon" {{action "approveBatch"}}>{{fa-icon "thumbs-up"}}Approve All</button>
			{{/if}}
		</div>
	</section>
	<div class="overlay {{if showParams 'show' 'hide'}}">
		<div class="overlay-content">
			<header>
				<h2><b>Modify Renewal Batch Parameters</b></h2>
				<div class="close" {{action "toggleParams"}}>{{fa-icon "times"}}</div>
			</header>
			<section class="scroll-content">
			</section>
			<footer>
				<button class="with-icon" {{action "toggleParams"}}>{{fa-icon "check"}}Apply</button>
				<button class="white with-icon" {{action "toggleParams"}}>{{fa-icon "times"}}Cancel</button>
			</footer>
		</div>
	</div>
	<div class="overlay {{if showTerms 'show' 'hide'}}">
		<div class="overlay-content">
			<header>
				<h2><b>Modify Renewal Batch Lease Terms</b></h2>
				<div class="close" {{action "toggleTerms"}}>{{fa-icon "times"}}</div>
			</header>
			<section class="scroll-content">
				<div class="left-column">
					<section>
						<h3>Select lease terms to offer:</h3>
						<div class="select-deselect-all">
							<div {{action "selectAllTerms"}}>Select All</div
							><div {{action "deselectAllTerms"}}>Deselect All</div>
						</div>
					</section>
					<section class="rb-lease-terms">
						{{#each leaseTermCategories as |ltc|}}
							<div class="ltc">
								<div>
									{{check-box checked=ltc.isChecked value=ltc action="toggleLtc"}}
									{{!-- <input type="checkbox" checked={{ltc.isChecked}} onclick={{action "toggleLtc" value="target.checked"}} /> --}}
									<span>{{ltc.ltc}}</span>
								</div>
								{{#each ltc.terms as |term|}}
									<div>
										{{check-box checked=term.isChecked value=ltc action="toggleLeaseTerm"}}
										<span>{{term.text}}</span>
									</div>
								{{/each}}
							</div>
						{{/each}}
					</section>
				</div>
				<div class="vertical-divider"></div>
				<div class="right-column">
					<h3>Select communities to apply to:</h3>
					<table>
						<thead>
							<tr>
								<th>Community Code</th>
								<th>Community Name</th>
							</tr>
						</thead>
						<tbody>
							{{#each communityContent as |comm|}}
								<tr {{action "selectCommunityForTerms" comm}} class="{{if comm.selectedForTerms 'active'}}">
									<td>{{comm.description}}</td>
									<td>{{comm.text}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
					<div class="select-deselect-all">
						<div {{action "selectAllForTerms"}}>Select All</div>
						<div {{action "deselectAllForTerms"}}>Deselect All</div>
					</div>
				</div>
			</section>
			<footer>
				<button class="with-icon" {{action "toggleTerms"}}>{{fa-icon "check"}}Apply</button>
				<button class="white with-icon" {{action "toggleTerms"}}>{{fa-icon "times"}}Cancel</button>
			</footer>
		</div>
	</div>
	<section class="batch-content">
		<section class="rb-summary">
			<div class="col col-25">
				<div class="chart">
					{{high-charts mode=chartMode content=model.chartData chartOptions=chartOptions}}
				</div>
			</div
			><div class="col col-40">
				{{high-charts mode=chartMode content=model.detailChartData chartOptions=detailChartOptions}}
			</div
			><div class="col col-20">
				<table class="rb-metrics-table no-hover">
					<tr style="height: 80px">
						<td style="border: none;">
							<div class="rb-metric-title">Average Increase</div>
							<div class="rb-metric">{{format-percent model.avgIncrease}}</div>
						</td>
						<td style="border: none;">
							<div class="rb-metric-title">Increase Range</div>
							<div class="rb-metric">{{format-percent model.minIncrease}} - {{format-percent model.maxIncrease}}</div>
						</td>
					</tr>
					<tr style="height: 80px">
						<td style="border: none;">
							<div class="rb-metric-title">Current Avg. DTM</div>
							<div class="rb-metric">{{format-percent model.avgCurrentDiscountToMarket}}</div>
						</td>
						<td style="border: none;">
							<div class="rb-metric-title">Current DTM Range</div>
							<div class="rb-metric">{{format-percent model.minCurrentDiscountToMarket}} - {{format-percent model.maxCurrentDiscountToMarket}}</div>
						</td>
					</tr>
					<tr style="height: 80px">
						<td style="border: none;">
							<div class="rb-metric-title">New Avg. DTM</div>
							<div class="rb-metric">{{format-percent model.avgNewDiscountToMarket}}</div>
						</td>
						<td style="border: none;">
							<div class="rb-metric-title">New DTM Range</div>
							<div class="rb-metric">{{format-percent model.minNewDiscountToMarket}} - {{format-percent model.maxNewDiscountToMarket}}</div>
						</td>
					</tr>
				</table>
			</div
			><div class="col col-15">
				{{high-charts mode=chartMode content=model.donutChartData chartOptions=donutChartOptions}}
				<div class="center">
					<h2 class="std-bottom-margin">Overrides</h2>
					<h1>{{format-commas model.overrideCount}}</h1>
				</div>
			</div>
		</section>
		<section class="rb-details">
			<div class="border-bottom">
				<div class="tab-menu tm-4 rb-detail-tabs inline no-border {{if showDetailFilters 'filters-open'}}">
					<div {{action "toggleCommunityView"}} class="{{if communityView 'active'}}">Community View</div
					><div {{action "toggleUnitView"}} class="{{if unitView 'active'}}">Unit View</div>
				</div>
				{{#if unitFiltersApplied}}
					<div class="filter-tag clickable" {{action "clearUnitFilters"}}>
						Clear unit filters
						{{fa-icon "times-circle"}}
					</div>
				{{/if}}
				{{#if communityFiltersApplied}}
					<div class="filter-tag clickable" {{action "clearCommunityFilters"}}>
						Clear community filters
						{{fa-icon "times-circle"}}
					</div>
				{{/if}}
			</div>
			<section class="rb-detail-content">
				<div class="filter-panel {{if showDetailFilters 'open' 'closed'}} no-mobile">
					{{#if showDetailFilters}}
						<div class="filter-header">
							{{fa-icon "sliders"}}
							Filters
							<i class="fa fa-arrow-left close" {{action "closeDetailFilterPane"}}></i>
						</div>
						<div class="filter-content">
							{{#if unitView}}
								<div class="filter">
									<div>
										<div class="label">Increase: {{format-percent increaseMin 100}} - {{format-percent increaseMax 100}}</div>
										{{!-- {{range-slider start=increaseSliderStart range=increaseRange connect=true  step=0.5 slide="increaseSlide"}} --}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">Current DTM:<br>{{format-percent currentDtmMin 100}} - {{format-percent currentDtmMax 100}}</div>
										{{!-- {{range-slider start=currentDtmSliderStart range=currentDtmRange connect=true  step=0.5 slide="currentDtmSlide"}} --}}
									</div>
								</div>
								<div class="filter">
									<div>
										<div class="label">New DTM:<br>{{format-percent newDtmMin 100}} - {{format-percent newDtmMax 100}}</div>
										{{!-- {{range-slider start=newDtmSliderStart range=newDtmRange connect=true  step=0.5 slide="newDtmSlide"}} --}}
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Community</div>
										<div class="control block">
											{{select-2 content=model.communityNames value=communityFilter placeholder="All" allowClear=true multiple=false}}
										</div>
									</div>
								</div>
								<div class="filter">
									{{input-control value=overrideUnitFilter type="toggle" label="Overrides Only" orientation="block"}}
								</div>
								<div class="filter">
									{{input-control value=unapprovedUnitFilter type="toggle" label="Unapproved Only" orientation="block"}}
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Beds</div>
										<div class="control block">
											{{select-2 value=bedsFilter content=model.beds placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">Baths</div>
										<div class="control block">
											{{select-2 value=bathsFilter content=model.baths placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">LRO Unit Type</div>
										<div class="control block">
											{{select-2 value=unitTypeFilter content=model.unitTypes placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
								<div class="filter">
									<div class="input-control">
										<div class="label block">PMS Unit Type</div>
										<div class="control block">
											{{select-2 value=pmsUnitTypeFilter content=model.pmsUnitTypes placeholder="All" allowClear=true}}
										</div>
									</div>
								</div>
							{{else}}
								<div class="filter">
									<div>
										<div class="label">Avg. Increase: {{format-percent avgIncreaseMin 100}} - {{format-percent avgIncreaseMax 100}}</div>
										{{!-- {{range-slider start=avgIncreaseSliderStart range=avgIncreaseRange connect=true  step=0.5 slide="avgIncreaseSlide"}} --}}
									</div>
								</div>
								<div class="filter">
									{{input-control value=overrideCommunityFilter type="toggle" label="Overrides Only" orientation="block"}}
								</div>
								<div class="filter">
									{{input-control value=unapprovedCommunityFilter type="toggle" label="Unapproved Only" orientation="block"}}
								</div>
							{{/if}}
						</div>
					{{else}}
						<div class="filter-header" {{action "openDetailFilterPane"}}>
							{{fa-icon "sliders"}}
						</div>
					{{/if}}
				</div>
				<div class="table-wrapper  {{if showDetailFilters 'filters-open'}}">
					{{#if unitView}}
						<table>
							<thead>
								<tr>
									{{!-- <th>Community</th> --}}
									<th class="no-mobile">PMS Unit Type</th>
									<th>Unit Type</th>
									<th class="no-mobile">Beds</th>
									<th class="no-mobile">Baths</th>
									<th>Unit Number</th>
									<th class="no-mobile">Resident</th>
									<th class="no-mobile">Renewal Date</th>
									<th class="no-mobile">Prior Term</th>
									<th class="no-mobile">Rec Term</th>
									<th class="no-mobile">Prior CPR</th>
									<th>Rec CPR</th>
									<th>Increase %</th>
									<th class="no-mobile">CMR</th>
									<th>DTM</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{{!-- {{#each filteredUnitContent as |unit|}} --}}
								{{#each model.communities as |comm|}}
									{{#each comm.units as |unit|}}
										{{#link-to "lro.renewals.batch.home.unit" unit.id tagName="tr"}}
											<td class="no-mobile">{{unit.pmsUnitType}}</td>
											<td>{{unit.unitType}}</td>
											<td class="no-mobile">{{format-commas unit.beds}}</td>
											<td class="no-mobile">{{format-commas unit.baths}}</td>
											<td>{{unit.unitNumber}}</td>
											<td class="no-mobile">{{unit.resident}}</td>
											<td class="no-mobile">{{format-date unit.renewalDate}}</td>
											<td class="no-mobile">{{format-commas unit.currentLeaseTerm}}</td>
											<td class="no-mobile">{{format-commas unit.recLeaseTerm}}</td>
											<td class="no-mobile">${{format-commas unit.currentRent}}</td>
											<td>${{format-commas unit.finalRecRent}}</td>
											<td>{{format-percent unit.userIncreasePct 1 1}}</td>
											<td class="no-mobile">${{format-commas unit.cmr}}</td>
											<td>{{format-percent unit.currentDiscountToMarket 1 1}} / {{format-percent unit.finalDiscountToMarket 1 1}}</td>
											<td>
												{{#if unit.approved}}
													<i class="fa fa-thumbs-o-down gray" {{action "unapproveUnit" unit bubbles=false}}></i>
												{{else}}
													<i class="fa fa-thumbs-o-up" {{action "approveUnit" unit bubbles=false}}></i>
												{{/if}}
											</td>
										{{/link-to}}
									{{/each}}
								{{/each}}
								{{!-- {{#each model.communities as |comm|}}
									<tr>
				                        <td colspan=99 class="grouper">{{comm.community.name}}</td>
				                    </tr>
									{{#each comm.units as |unit|}}
										{{#link-to "lro.renewals.batch.home.unit" unit.id tagName="tr"}}
											<td class="no-mobile">{{unit.pmsUnitType}}</td>
											<td>{{unit.unitType}}</td>
											<td class="no-mobile">{{format-commas unit.beds}}</td>
											<td class="no-mobile">{{format-commas unit.baths}}</td>
											<td>{{unit.unitId}}</td>
											<td class="no-mobile">{{unit.resident}}</td>
											<td class="no-mobile">{{format-date unit.renewalDate}}</td>
											<td class="no-mobile">{{format-commas unit.currentLeaseTerm}}</td>
											<td class="no-mobile">{{format-commas unit.recLeaseTerm}}</td>
											<td class="no-mobile">${{format-commas unit.currentRent}}</td>
											<td>${{format-commas unit.finalRecRent}}</td>
											<td>{{format-percent unit.userIncreasePct 1 1}}</td>
											<td class="no-mobile">${{format-commas unit.cmr}}</td>
											<td>{{format-percent unit.currentDiscountToMarket 1 1}} / {{format-percent unit.finalDiscountToMarket 1 1}}</td>
											<td>
												{{#if unit.approved}}
													<i class="fa fa-thumbs-o-down gray" {{action "unapproveUnit" unit bubbles=false}}></i>
												{{else}}
													<i class="fa fa-thumbs-o-up" {{action "approveUnit" unit bubbles=false}}></i>
												{{/if}}
											</td>
										{{/link-to}}
									{{/each}}
								{{/each}} --}}
							</tbody>
						</table>
					{{else}}
						<table>
							<thead>
								<tr>
									<th>Community</th>
									<th>Expirations</th>
									<th class="no-mobile">Avg Rec Rent</th>
									<th>Avg Increase</th>
									<th class="no-mobile">Avg Rec Term</th>
									<th>Increase Range</th>
									<th class="no-mobile">Current Avg DTM</th>
									<th class="no-mobile">New Avg DTM</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{{!-- {{#each filteredCommunityContent as |comm|}} --}}
								{{#each model.communities as |comm|}}
								{{!-- {{#each communities as |comm|}} --}}
									{{#link-to "lro.renewals.batch.community" comm.id tagName="tr"}}
										<td class="left">{{comm.community.name}}</td>
										<td>{{format-commas comm.expirationCount}}</td>
										<td class="no-mobile">${{format-commas comm.avgRecRent}}</td>
										<td>{{format-percent comm.avgIncrease 1 1}}</td>
										<td class="no-mobile">{{format-commas comm.avgRecLeaseTerm}}</td>
										<td>{{format-percent comm.minIncrease 1 1}} - {{format-percent comm.maxIncrease 1 1}}</td>
										<td class="no-mobile">{{format-percent comm.avgCurrentDiscountToMarket 1 1}}</td>
										<td class="no-mobile">{{format-percent comm.avgNewDiscountToMarket 1 1}}</td>
										<td>
											{{#if comm.allApproved}}
												<i class="fa fa-thumbs-o-down gray" {{action "unapproveCommunity" comm bubbles=false}}></i>
											{{else}}
												<i class="fa fa-thumbs-o-up" {{action "approveCommunity" comm bubbles=false}}></i>
											{{/if}}
										</td>
									{{/link-to}}
								{{/each}}
							</tbody>
						</table>
					{{/if}}
				</div>
			</section>
		</section>
	</section>
	{{outlet}}
</div>
