<div class="section-menu">
	{{fa-icon "line-chart" fixedWidth=true}}
	<div class="title single-line no-mobile">LRI</div>
	<div class="hamburger" {{action 'toggleSectionMenu'}}>
		{{fa-icon "bars"}}
	</div>
	<div class="menu {{if showMenu 'show'}}">
	</div>
</div>
<section class="module-content">
	{{outlet}}
</section>
